body{
  width: 100%;
  color: #252C38;
  background-image: url("maui_beach.png");
  background-repeat: repeat;
  font-size: 20px;
  line-height: 25px;
  position: cover;
  text-decoration: none;
}

ul {
   margin-left: 20px;
   color: blue;
 }
 li {
   cursor: default;
 }
 span {
   color: red;
 }

img{
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
}

a:link, a:visited {
  color: #252C38;
  text-decoration: none;
}

li{
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
}

.inline-block{
  position; bottom;
  display: block;
 padding: 18px 20px;
 text-decoration: none;
}

nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-decoration: none;
  background-color: ;
  display: block;
  position: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heroimage{
  height: 100px;
  padding: 25px;
  width: 200px;
}

p{
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  font-family: 'Alata', sans-serif;
}

section{
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 10px;
  font-size: 30px;
justify-content: center;
}

footer{
  background-color: ;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  position; bottom;
  display: block;
   width: 100%;
   left: 0;
   bottom: 0;
   margin: 0;
   font-size: 16px;
  display: flex;
  position: bottom;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
 font-family: 'Roboto Slab', serif;
}

h1{
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  padding: 30px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h2{
 font-size: 24px;
  font-family: 'Roboto Slab', serif;
  padding: 30px;
}

h3{
 font-size: 18px;
  font-family: 'Roboto Slab', serif;
  padding: 30px;
}

.fa-facebook {
  background: ;
  color: white;
}

.fa-linkedin {
  background: ;
  color: white;
}

.fa-instagram {
  background: ;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 80px;
  justify-content: center;
  width: 50px;
  display: flex;
  text-align: center;
  text-decoration: none;
  margin: 20px 15px;
  border-radius: 50%;
  font-style: bold;
}

.fa:hover {
    opacity: 0.7;
}

.button {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #252C38;
  background-color: #04AA6D;
  border: none;
  padding: 17px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

* {
  box-sizing: border-box;

}
.grid-container {
  display: grid;
  grid-template-columns: 262px 262px 262px 262px;
  grid-gap: 10px;
  background-color: #252C38;
  padding: 20px;
  justify-content: center;
  }

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  justify-content: center;
}

/* Float four columns side by side */


/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
}

/* Responsive columns */


@media screen and (max-width: 600px) {
 .heroimage{
  height: 100px;
  padding: 25px;
  margin-bottom: 20px;
  width: 90px;
}
}

@media screen and (max-width: 600px) {
section{
  margin-left: 4%;
  margin-right: 4%;
  padding: 5px;
  justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}

/* Style the counter cards */


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
nav{
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ;
  display: inline-block;
  position: top;
  margin-left: 10px;
  margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.gallery {
  border: 1px solid #ccc;
  justify content: center;
  background-color: white;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  justify-content: center;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}


@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 500px) {
p{
  justify-content: center;
  padding: 20px;
  font-family: 'Alata', sans-serif;
    font-size: 18px;
}
}

@media only screen and (max-width: 500px) {
a{
 font-family: 'Roboto Slab', serif;
}
}

@media only screen and (max-width: 500px) {
h1{
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  padding: 30px;
  line-height: 10px;
}
}

@media only screen and (max-width: 500px) {
h2{
 font-size: 20px;
  font-family: 'Roboto Slab', serif;
  padding: 30px;
}
}

@media only screen and (max-width: 1200px) {
.grid-container {
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  grid-gap: 10px;
  background-color: #252C38;
  padding: 20px;
  width: 100%;
  justify-content: center;
  display: inline-block;

  }
}

@media only screen and (max-width: 1200px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}


@media only screen and (max-width: 900px) {
.grid-container {
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  grid-gap: 10px;
  background-color: #252C38;
  padding: 20px;
  width: 100%;
  justify-content: center;
  display: inline-block;

  }
}

@media only screen and (max-width: 900px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}

@media only screen and (max-width: 700px) {
.grid-container {
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  grid-gap: 10px;
  background-color: #252C38;
  padding: 20px;
  width: 100%;
  justify-content: center;
  display: inline-block;

  }
}

@media only screen and (max-width: 700px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}

@media only screen and (max-width: 600px) {
.grid-container {
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  grid-gap: 10px;
  background-color: #252C38;
  padding: 20px;
  justify-content: center;
  width: 100%;
  display: inline-block;

  }
}

@media only screen and (max-width: 600px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}

@media only screen and (max-width: 500px) {
.grid-container {
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  grid-gap: 10px;
  background-color: #252C38;
  padding: 20px;
  width: 100%;
  justify-content: center;
  display: inline-block;

  }
}

@media only screen and (max-width: 500px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}

@media only screen and (max-width: 768px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}

@media only screen and (max-width: 992px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  display: inline-block;
}
}

@media only screen and (max-width: 500px) {
footer{
  position; bottom;
  display: block;
  padding: 5px 8px;
 text-align: left;
 text-decoration: none;
}
}

@media only screen and (max-width: 500px) {
nav{
  position; bottom;
  display: block;
  padding: 5px 8px;
 text-align: left;
 text-decoration: none;
}
}
